.col-md-4 {
  background-color: yellow;
  flex-wrap: nowrap;
  float: left;
  width: 33.33%;
  text-align: center;
}

.container-fluid {
  float: left;
}

.col-sm-8 {
  background-color: green;
  text-align: center;
  float: left;
  flex-wrap: nowrap;
}

.col-sm-4 {
  background-color: green;
  text-align: center;
}
